    <div class="right-index">
        <form action="/" method="post">
            <label class="prompt">Log In</label>
            <% if(alerts.success) { %>
                <% alerts.success.forEach((alert) =>{ %>
                    <div class="alert">
                        <%= alert %>
                    </div>
                <% }) %>
            <% } %>
        
            <% if(alerts.error) { %>
                <% alerts.error.forEach((alert) =>{ %>
                    <div class="alert">
                        <%= alert %>
                    </div>
                <% }) %>
            <% } %>
            <% if(alerts.validationErrors) { %>
                <% alerts.validationErrors.forEach((alert) =>{ %>
                    <div class="alert">
                        <%= alert.msg %>
                    </div>
                <% }) %>
            <% } %>
            <input name="emailAddress" type="email" placeholder="Email Address">
            <input name="password" type="password" placeholder="Password">
            <button type="submit" id="submit">Login</button>
            <a href="https://www.google.com">Forgot Password</a>
            <hr>
            <a href="/auth/signup" class="button">Create Account</a>
        </form>     
    </div>
</div>