<div class="header"></div>

<div class="index">
    <div class="left-index">
        <h1>LOGO</h1>
        <h2>Welcome to daily community</h2>
    </div>
    <div class="right-index">
        <form action="" method="post">
            <input name="emailAddress" type="email" value="Email Address">
            <input name="password" type="text" value="Password">
            <button type="submit" id="submit">Login</button>
            <a href="https://www.google.com">Forgot Password</a>
            <hr>
            <button>Create Account</button>   
        </form>     
    </div>
</div>

<div class="footer">
    <ul>
        <li><a href="https://github.com/BrandonSamaroo">GitHub</a></li>
        <li><a href="https://google.com">Help</a></li>
    </ul>
</div>