<main>
    <h1 class="block-element">My Settings</h1>
    <div class="block-element">
      <form method="POST" action="/uploadCommunityPic/<%= community.name %>" enctype="multipart/form-data" class="upload-pic-form">
        <div class="pic-div">
          <label>Change Community Picture: </label>
          <input type="file" name="image" class="form-control">
          <button type="submit" class="submit-pic-btn">Upload Community Pic</button>
        </div>
      </form>
      <br />
      <a href="/delete/<%= community.name %>" class="signoutBtn">Delete Community</a>
    </div>
</main>