<main>
    <form method="post" action="/create/community">
        <label>Create a New Community!</label>
        <input name="name" type="text" placeholder="Name">
        <input name="profilePicture" type="text" placeholder="Display Picture">
        <input name="bio" type="text" placeholder="Bio">
        <hr>
        <button type="submit">Create Community</button>
    </form>
</main>