<main>
    <h1 class="block-element">My Messages</h1>
    <div class="block-element">
        <p>user <%= currentUser.userName %> aka only logged in user can see this page with their info<p></p>
    </div>
</main>