<main>
    <h1 class="block-element"><%= user.userName %>'s communities</h1>
    <% user.communities.forEach((community)=>{ %>
        <div class="block-element">
            <a href="/community/<%= community.name %>"><%= community.name %></a>
        </div>
    <% }) %>
</main>