<main>
    <h1><%= user.userName %>'s communities</h1>
    <% user.communities.forEach((community)=>{ %>
        <div><a href="/community/<%= community.name %>"><%= community.name %></a></div>
    <% }) %>
</main>