<main>
    <h1 class="block-element">My Settings</h1>

    <br>

    <div class="block-element">
        <form method="POST" action="/uploadProfilePic" enctype="multipart/form-data">
            <div class="form-div">
              <label>Upload Profile Picture: </label>
              <input type="file" name="image" class="form-control">
              <button type="submit" class="btn">Upload Profile Pic</button>
            </div>
        </form>
    </div>

    <br>

    <div class="block-element">
      <form method="POST" action="/setBio/<%= currentUser.userName %>" class="set-bio-form">
        <div class="form-div">
          <label>Set Bio: </label>
          <textarea id="textarea" name="bio" maxlength="50"></textarea>
          <button type="submit" class="btn">Set Bio</button>
        </div>
      </form>
    </div>

    <br>
    <div class="block-element">
      <a href="/auth/signout" class="signoutBtn">Sign Out</a>
    </div>
</main>