*{
    font-family: 'Fredoka', sans-serif;
}

.index{
    display: flex;
    height: 80vh;
    width: 100%;
    background-color: gainsboro;
    align-items: center;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    height: 20vh;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

li a:hover {
    color: grey;
}


.left-index{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.right-index{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 7%;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 5px 5px #888888;
}

form *{
    margin-top: 10px;
}

form button{
    padding: 3% 7%;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    font-size: 15px;
    background-color: gainsboro;;
}

form button:hover{
    color:white;
}

form input{
    font-size: 17px;
    text-align: left;
    border-radius: 5px 5px 5px 5px;
}

a.button:hover {
    color: white;
    text-decoration: none;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background-color: gainsboro;;
    padding: 2%;
    border-radius: 4px 4px 4px 4px;
    text-decoration: none;
    color: initial;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

hr{
    width: 100%;
}

.prompt{
    text-align: center;
    font-size: 27px;
    margin-bottom: 5px;
}

img{
    width: 25%;
    height: auto;
}


@media screen and (max-width: 480px) {
    .index {
      flex-direction: column;
      padding-bottom: 10px;
    }
  }

.alert{
    text-align: center;
}